/**
 * Typography related stylesheet.
 *
 * This stylesheet needs to safely apply to CMS editor. Prefix all entries here
 * with .typography class. If the style is not typography-related, it needs to
 * go into another file - for example layout.[s]css
 */
/*****************************
EXPRESS TYPOGRAPHY 
******************************/
.typography {
  /*** LINK ICONS ***/
  /*** Image formatting ***/
}
.typography .page-header h1 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.typography h2, .typography h3 {
  margin: 18px 0 9px;
}
.typography h2 {
  line-height: 27px;
}
.typography p {
  margin-bottom: 18px;
}
.typography a.external-link {
  padding-right: 20px;
  background: url(../images/icons/external-link.png) no-repeat right 3px;
}
.typography blockquote {
  border-left: 5px solid #EEEEEE;
  margin: 0 0 18px;
  padding: 0 0 0 15px;
}
.typography blockquote .blockquote-author {
  margin-top: -18px;
  color: #999999;
  display: block;
  line-height: 18px;
  font-size: 100%;
}
.typography blockquote .blockquote-author:before {
  content: "— ";
}
.typography a[href$=".pdf"], .typography a[href$=".PDF"], .typography a.pdf {
  padding-left: 22px;
  background: url(../images/icons/page_white_acrobat.png) no-repeat left 0;
}
.typography a[href$=".doc"], .typography a[href$=".DOC"], .typography a.doc {
  padding-left: 22px;
  background: url(../images/icons/page_word.png) no-repeat left 0;
}
.typography a[href$=".xls"], .typography a[href$=".XLS"], .typography a.xls {
  padding-left: 22px;
  background: url(../images/icons/page_excel.png) no-repeat left 0;
}
.typography a[href$=".gz"], .typography a[href$=".GZ"], .typography a[href$=".gzip"], .typography a[href$=".GZIP"], .typography a[href$=".zip"], .typography a[href$=".ZIP"], .typography a.archive {
  padding-left: 22px;
  background: url(../images/icons/page_white_zip.png) no-repeat left 0;
}
.typography a[href$=".exe"], .typography a[href$=".EXE"], .typography a.application {
  padding-left: 22px;
  background: url(../images/icons/application.png) no-repeat left 0;
}
.typography a[href$="http://www."], .typography a.external-link {
  padding-right: 22px;
  background: url(../images/icons/external-link.png) no-repeat right 3px;
}
.typography img.right {
  float: right;
  margin: 0 0 18px 18px;
}
.typography img.left {
  float: left;
  margin: 0 18px 18px 0px;
  background-color: red;
}
.typography img.leftAlone {
  margin: 0 18px 18px 0;
  float: none;
  display: block;
  clear: both;
}
.typography img.center {
  display: block;
  margin: 0 auto 18px auto;
  clear: both;
}
.typography .captionImage {
  width: 100%;
}
.typography .captionImage.left {
  float: left;
  margin: 0 18px 18px 0px;
}
.typography .captionImage.right {
  float: right;
  margin: 0 0 18px 18px;
}
.typography .captionImage.leftAlone {
  float: none;
  margin: 0 18px 18px 0px;
}
.typography .captionImage.center {
  margin: 0 auto 18px;
}
.typography .captionImage p {
  clear: both;
  margin: 8px 0;
  color: #999;
}
.typography .captionImage img {
  margin: 0 0 5px 0;
}
