@mixin carousel{
	
		/* Carousel Styling */
	.carousel {
		overflow:hidden;
		width: 100%;
		margin: 0 auto;
		.carousel-caption {
	  		right: 2px;
	  		p {
				font-size: 14px;
				color: white;
				line-height: 1.2em;
			}
	  	}
		img{
			width:100%;
		}
		a{
			#layout & img{
				border:none;
			}
		}
		&:hover{
			#pause{
				#IE8 &{
					display:block;
				}
				@include duration(1s);
				
				visibility:visible;
				opacity:1;
			}
		}
	}

	#pause{
		#IE8 &{
			display:none;
		}
		visibility:hidden;
		opacity:0;
		.btn{	
			.icon{
				font-family: FontAwesome;
				font-weight: normal;
				font-style: normal;
				display: inline-block;
				text-decoration: inherit;
			}
			z-index:4; 
			@extend .btn-inverse;
			@include border-radius(40px);
			@include box-sizing(border-box);
			border:2px solid #fff;
			position:relative;
			top:35%;
			font-size:3em;
			line-height:1em;
			width:70px;
			height:70px;
			padding-top:15px;
			opacity:0.5;
			#IE7 &{
				.icon{
					zoom:1;
				}
				padding-top:5px;
				width:30px;
				height:43px;
			}
			.icon-play-js{
				padding-left:3px;
				#IE7 &{
					padding-top:2px;
				}
			}
			&:hover{
				@include duration(1s);
				opacity:1;
			}
		}
		text-align:center;
		width:100%;
		height:100%;
		position:absolute; 
		z-index:0; 
		top:0px;
		left:0px;
		color:#fff;
		color:rgba(#fff,0.8);
		text-shadow: lighten(rgba(#000,0.5), 10%) 1px 1px 0;
	}

	.carousel-control{
		z-index:6;

		&:visited {
			color: white;
		}
	}
}