/**
 * Component type styles for SilverStripe Express.
 *
 */

$border: 1px solid #ddd;
$white-shadow: 0 1px rgba(255,255,255,0.8);
$dark-shadow: 0px -1px 0px rgba(0,0,0,0.7);

@mixin clearAfter{
	&:after{
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	*:first-child &{ zoom:1;}
}


//NOTE: To round all use border-radius instead!
@mixin roundTopCorners($r){
	@include roundedCorners($r, $r, 0, 0);
}
@mixin roundBottomCorners($r){
	@include roundedCorners(0, 0, $r, $r);
}
@mixin roundLeftCorners($r){
	@include roundedCorners($r, 0, 0, $r);
}
@mixin roundRightCorners($r){
	@include roundedCorners(0, $r, $r, 0);
}

//Mixin to create rounded corners. Takes a value for each of the 4 corners
@mixin roundedCorners($topLeft, $topRight, $bottomRight, $bottomLeft){
	-moz-border-radius-topleft: $topLeft;
	-moz-border-radius-topright: $topRight;
	-moz-border-radius-bottomright: $bottomRight;
	-moz-border-radius-bottomleft: $bottomLeft;
	-webkit-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
	border-radius: $topLeft $topRight $bottomRight $bottomLeft;
}

//Inner shadow of 5px with transparency
@mixin inner-shadow{
	@include boxShadowInset(0, 0, 5px, 0, rgba(0,0,0,0.1));
}

@mixin noShadow{
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}


//Mixin to create an inset box shadow
@mixin boxShadowInset($horizontal, $vertical, $blur, $spread, $color){
	-webkit-box-shadow: inset $horizontal $vertical $blur $spread $color;
	-moz-box-shadow: inset $horizontal $vertical $blur $spread $color;
	box-shadow: inset $horizontal $vertical $blur $spread $color;
}

@mixin formValidation($textColor: #555, $borderColor: #ccc, $backgroundColor: #f5f5f5){
	color: $textColor;
    border-color: $borderColor;
    &:focus {
      border-color: darken($borderColor, 10%);
      @include box-shadow(0 0 6px lighten($borderColor, 20%));
    }
}

@mixin message($type){
	padding:5px;
	margin-top:-5px;
	margin-right:5px;
	font-weight:normal;
	font-size:$baseFontSize;
	line-height:$baseFontSize +5px;
	display:block;
	clear:both;
	@include border-radius(3px);
	@if $type == 'error' {
		background:$errorBackground;
		border:1px solid $errorBorder;
		color: $errorText;
	}@else if $type == 'warning' {
		background:$warningBackground;
		border:1px solid $warningBorder;
		color: $warningText;
	}@else if $type == 'success' {
		background:$successBackground;
		border:1px solid $successBorder;
		color: $successText;
	}@else if $type == 'info' { 
		background:$infoBackground;
		border:1px solid $infoBorder;
		color: $infoText;
	}@else{
		background:lighten($grayLighter,5%);
		border:1px solid $grayLighter;
		color: $grayDark;
	}
}


@mixin delay($time, $webkit:true){
	@if($webkit){
		-webkit-transition-delay: $time;
	}
	-moz-transition-delay: $time;
	-o-transition-delay: $time;
		
}

@mixin duration($time, $webkit:true){
	@if($webkit){
		-webkit-transition-duration: $time;
	}	
	-moz-transition-duration: $time;
	-o-transition-duration: $time;
	transition-duration: $time;	
}

