
@mixin media{

	body {
		#SearchGroup{
			float:none;
			width:100%;
		}
	}

	.nav-collapse{

		li {

			.dropdown-menu{
				display:none;
			}

		}

		li.open{
			.caret{
				border-top:0;
				border-bottom: 4px solid black;
				border-right: 4px solid transparent;
				border-left:4px solid transparent; 
			}
			.dropdown-menu{
				display:block;
			}
		}
	}

	.Actions{
		.action{
			width:100%;
		}
	}



}