/**
 * Layout stylesheet.
 *
 * The rule of thumb is that the styles from here will not be needed for the CMS editor.
 * Styles related to content editing should go into typography.[s]css.
 *
 * *** ATTENTION SCSS DEVELOPER ***
 *
 * If you are working with SCSS, please do not import other top-level stylesheets here such
 * as typography.scss. We want to be able to generate clean CSS for the third-party dev to
 * work with directly, and this will result in code duplication between generated css files!
 *
 */

// Requires bootstrap to be placed in the project directory
@import '../../module_bootstrap/lib/bootstrap.scss';
@import '../../module_bootstrap/lib/responsive.scss';

body {
	.sidebar-nav {
	    padding: 9px 0;
	    .nav-list {
	    	.nav-list li { /* third level */
		    	a {
		    		padding-left: 30px;
		    		padding-right: 30px;
		    	}
		    	a, .nav-header {
				    margin-left: -30px;
				    margin-right: -30px;
				}
				.nav-list li {  /* forth level */
			    	a {
			    		padding-left: 45px;
			    		padding-right: 45px;
			    	}
			    	a, .nav-header {
					    margin-left: -45px;
					    margin-right: -45px;
					}
					.nav-list li { /* fifth level */
				    	a {
				    		padding-left: 60px;
				    		padding-right: 60px;
				    	}
				    	a, .nav-header {
						    margin-left: -60px;
						    margin-right: -60px;
						}
						.nav-list li { /* sixth level */
					    	a {
					    		padding-left: 75px;
					    		padding-right: 75px;
					    	}
					    	a, .nav-header {
							    margin-left: -75px;
							    margin-right: -75px;
							}
					    }
				    }
			    }
		    }
	    }
	}
}


