/**
 * Layout stylesheet.
 *
 * The general rule is that the styles from here will not be needed for the CMS editor.
 * Styles related to content editing should go into typography.[s]css.
 */


 //* *** ATTENTION SCSS DEVELOPER ***
 //*
 //* If you are working with SCSS, please do not import other top-level 
 //* stylesheets here such as typography.scss. We want to be able to generate 
 //* clean CSS for the third-party dev to work with directly, without duplication 
 //* of css in the generated files!
 //*


// Import needed scss files. Bootstrap files require the bootstrap module in the themes directory
@import "compass/support"; //import an external compass library for IE9 SVG gradient support 
$experimental-support-for-svg: true; //for IE9 SVG gradient support 

@import 'bootstrap_config/bootstrap.scss'; //Core bootstrap layout components
@import 'bootstrap_config/responsive.scss'; //Core bootstrap responsive components
@import 'components/forms'; //form specific scss
@import 'components/navigation'; //navigation components
@import 'components/mobile'; //mobile specific adjustments
@import 'components/sitemap'; //sitemap specific scss
@import 'components/results'; //carousel specific scss



/*****************************
EXPRESS LAYOUT
******************************/

/*Customise search field */	
#SearchGroup{
	float:right;
	width:200px;
	.navbar-search .search-query{
		line-height:1.3em;
	}
	form{
		.field{
			margin:0;
		}
		padding:0;
		fieldset{
			margin:0;
		}

		input.action{
			display:none;
		}
	}
}

/*HEADER */
header {
	.brand {
		@extend h1;
		font-size: 3em;
		font-weight:bold;
		margin-bottom: 18px;
		overflow:visible;
		line-height:1em;
		float: left;
		margin-top: 0.67em;
		a:visited {
			color: black;
		}
	}

	ul#lang {
		float: right;

		li {
			float: left;
			margin-left: 10px;
			list-style: none;
		}
	}
}

/************************ MISC ****************************/

#layout .linkSet{
	ul{
		list-style:none;
		padding:0;
		margin:0;
		margin-bottom:20px;
		li{
			margin:0;
			padding:0;
			&.odd{
				a{
					background: lighten($hrBorder, 5%);
					border-top:1px solid $grayLighter;
					border-bottom:1px solid $grayLighter;
					&:hover{
						border-top:1px solid lighten($blue, 50%);
						border-bottom:1px solid lighten($blue, 50%);
					}
				}
			}
			a{
				display:block;
				padding:15px 0 15px 5px;			
				@include duration(0.5s);
				font-size:1.1em;
				line-height:1.4em;
				border-top:1px solid transparent;
				border-bottom:1px solid transparent;
				&:hover{
					padding-left:15px;
					text-decoration:none;
					background-color:lighten($blue, 55%);
					@include duration(0.5s);
				}
			}
		}
	}
}


.typography{ //Needed to override typography styles

	/*Adjust breadcrumbs*/
	ul.breadcrumb{
		margin:0 0 18px;
		padding:7px 14px;
	}

	/* Hero Unit adjustments */
	div.hero-unit.nested {
		padding:0;
		h1 {
			margin-bottom: 15px;
		}
		.span4 .content{
			padding:30px;
		}

		.span8 .content{
			padding:30px;
		}

		.carousel-container {
			float: right;

			.carousel-caption h4,
			.carousel-caption p {
				color: $white;
			}
		}
	}
}

h2 {
	a, a:visited {
		color: #000;
	}
}

iframe {
	border: 0;
}

.page-header .printShare {
	margin-top: 21px;
	font-size:0.9em;
}

#layout a img {
	border: 2px solid $linkColor;
	margin-left: -2px;
	margin-top: -2px;
	&:hover {
		border-color: red;
	}
}

/* Facebook and Twitter links */
.socialLinks{ 
	overflow:visible;
	font-size:2em;
	line-height:1em;
	a{
		overflow:visible;
		z-index:5;
		position:relative;
		text-shadow: lighten(rgba(#000,0.1), 10%) 1px 1px 0;
	}
}

/*Helper classes to customise icons*/
.icon-dark{
	color: $textColor;
	&:visited{
		color: $textColor;
	}
	&:hover{
		color: darken($linkColor,5%);
		text-decoration:none;
	}
} 
.icon-small{
	font-size:1em;
}


/* Include  within layout tag to override typography styles*/
#layout{ 
	@include sitemap;
}


/*Fixes for all media sizes*/
@include mediaSizes;
