/**
 * Layout stylesheet.
 *
 * The rule of thumb is that the styles from here will not be needed for the CMS editor.
 * Styles related to content editing should go into typography.[s]css.
 */


 //* *** ATTENTION SCSS DEVELOPER ***
 //*
 //* If you are working with SCSS, please do not import other top-level stylesheets here such
 //* as typography.scss. We want to be able to generate clean CSS for the third-party dev to
 //* work with directly, without duplication of css in the generated files!
 //*


// Requires bootstrap to be placed in the project directory
@import '../../module_bootstrap/lib/bootstrap.scss';
@import '../../module_bootstrap/lib/responsive.scss';
@import '_mobile.scss';

body {
	.navbar{
		.showChildren{
			display:inline-block;
	    	width:20px;
	    	height:20px;  
	    	text-align:center;  	
	    }
	    .nav > li > a{
			padding: 9px 0 9px 11px;
			margin-right:10px;
		}
	}


	.sidebar-nav {
	    padding: 9px 0;
	    a:visited{
	    	color:$linkColor;
	    }

	    .nav-list {	    
	    	.nav-list li { /* third level */
		    	a {
		    		padding-left: 30px;
		    		padding-right: 30px;
		    	}
		    	a, .nav-header {
				    margin-left: -30px;
				    margin-right: -30px;
				}
				.nav-list li {  /* fourth level */
			    	a {
			    		padding-left: 45px;
			    		padding-right: 45px;
			    	}
			    	a, .nav-header {
					    margin-left: -45px;
					    margin-right: -45px;
					}
					.nav-list li { /* fifth level */
				    	a {
				    		padding-left: 60px;
				    		padding-right: 60px;
				    	}
				    	a, .nav-header {
						    margin-left: -60px;
						    margin-right: -60px;
						}
						.nav-list li { /* sixth level */
					    	a {
					    		padding-left: 75px;
					    		padding-right: 75px;
					    	}
					    	a, .nav-header {
							    margin-left: -75px;
							    margin-right: -75px;
							}
					    }
				    }
			    }
		    }
	    }
	}
	iframe {
		border: 0;
	}

}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

/* Landscape phones and down */
@media (max-width: 480px) { 
	@include media;
  	zoom:1;
}

/* Opera mobile high-res  */
@media handheld, only screen and (max-device-width: 800px){
	@include media;
	zoom:1;
}
 
/* Landscape phone to portrait tablet  */
@media (max-width: 600px) { 
	@include media;
	zoom:1;
}
 
/* Portrait tablet to landscape and desktop  */
@media (min-width: 500px) and (max-width: 600px) { 
	@include media;
    zoom:1;
}
/* For ipad  */
@media only screen and (-webkit-min-device-pixel-ratio: 2) { 
	@include media;
  	zoom:1;
}

/* Large mobile */ 
@media (max-width: 979px){
	@include media;
  	zoom:1;
}



