/*
 Print stylesheet.
*/


@import 'bootstrap_config/custom/mixins';

div, article{
	width: 100%; 
	margin: 0; 
	float: none;
}
.navbar, .sidebar-nav, .breadcrumb, .icon, .control, .btn, .carousel-control, .printShare, .resultsHeader, .pagination, #lang, footer{
	display:none;
}

.carousel img{
	max-width:200px;
	float:left;
}

.carousel-caption{
	clear:both;
}

.carousel{
	@include clearAfter;
	.item{
		display:block;
	}
}
