/**
 * Typography related stylesheet.
 *
 * This stylesheet needs to safely apply to CMS editor. Prefix all entries here
 * with .typography class. If the style is not typography-related, it needs to
 * go into another file - for example layout.[s]css
 *
 */

@import 'bootstrap_config/typography.scss';


/*****************************
EXPRESS TYPOGRAPHY 
******************************/

.typography {
	@include bootstrapType;
	@include bootstrapCode;
	@include bootstrapTables;	
	@include bootstrapUtilities;
	@include bootstrapHeroUnit;

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	.page-header h1 {
	    font-size: 40px;
	    font-weight: bold;
		letter-spacing: -1px;
		line-height: 1;
	}
	h2, h3 {
		margin: 18px 0 9px;
	}
	h2 {
		line-height: 27px;
	}
	p {
		margin-bottom: 18px;
		font-size:1.1em;
		line-height:1.2em;
	}
	/* Highlighting for search results titles and content snippets. */
	span.highlight {
		background: yellow;
	}
	a {
		&.external {
//			padding-right: 20px;
//			@extend .icon-external-link;
		}
		img{
			border:none;
		}
	}


	blockquote {
		border-left: 5px solid #EEEEEE;
		margin: 0 0 18px;
    	padding: 0 0 0 15px;
		.blockquote-author {
			margin-top: -18px;
			color: #999999;
		    display: block;
		    line-height: 18px;
		    font-size: 100%;
		    &:before {
	    		content: "— ";
	    	}
		}
	}

	.fileExt{
		color:lighten($gray,5%);
		font-size:0.8em;
	}

	/*** LINK ICONS ***/
	a[href$=".pdf"],
	a[href$=".PDF"],
	.pdf {
		padding-left: 22px;
		background: url(../../../themes/express/images/icons/page_white_acrobat.png) no-repeat left 0;
	}
	a[href$=".doc"],
	a[href$=".DOC"],
	.doc {
		padding-left: 22px;
		background: url(../../../themes/express/images/icons/page_word.png) no-repeat left 0;
	}
	a[href$=".xls"],
	a[href$=".XLS"],
	.xls {
		padding-left: 22px;
		background: url(../../../themes/express/images/icons/page_excel.png) no-repeat left 0;
	}
	a[href$=".gz"],
	a[href$=".GZ"],
	a[href$=".gzip"],
	a[href$=".GZIP"],
	a[href$=".zip"],
	a[href$=".ZIP"],
	.archive {
		padding-left: 22px;
		background: url(../../../themes/express/images/icons/page_white_zip.png) no-repeat left 0;
	}
	a[href$=".exe"],
	a[href$=".EXE"],
	.application {
		padding-left: 22px;
		background: url(../../../themes/express/images/icons/application.png) no-repeat left 0;
	}
	
	a[href$="http://"],
	.external {
//		padding-right: 22px;
	}
	
	
	/*** Image formatting ***/	
	
	img{
		&.right {
			float:right;
			margin: 0 0 18px 18px;
		}
		&.left {
			float:left;
			margin: 0 18px 18px 0px;
			background-color: red;
		}
		&.leftAlone {
			margin: 0 18px 18px 0;
			float: none;
			display: block;
			clear: both;
		}
		&.center {
			display:block;
			margin: 0 auto 18px auto;
			clear: both;
		}
	}
	.captionImage {
		width: 100%;
		&.left {
			float: left;
			margin: 0 18px 18px 0px;			
		}
		&.right{
			float:right;
			margin: 0 0 18px 18px;
		}
		&.leftAlone{
			float:none;
			margin: 0 18px 18px 0px;
		}
		&.center{
			margin: 0 auto 18px;
		}
		p {
			clear: both;
			margin: 8px 0;
			color: #999;
		}
		img {
			margin: 0 0 5px 0;
		}
	}

	time{
		font-size:0.9em;
	}

	table{
		@extend .table;
	}

}
