/*
*	Styling for form related components
*
*/


/* Styling for messages */
.message{
	@include message('default');
	&.error, &.bad, &.required{
		@include message('error');
	}
	&.good, &.success{
		@include message('success');
	}
	&.warning{
		@include message('warning');
	}
	&.info {
		@include message('info');
	}
}

.required{
	@include formValidation($errorText, $errorText, $errorBackground);
}

/* 
*	User forms styling includes a little more than custom forms
*	so that they look finished without needing to modify any code.
*	Extend this style to apply userforms styling to your custom forms, 
*	or modify it to change the look of your userforms
*/
#Form_Form{
	@extend .well;
	background: #fff;
	padding:0;
}


/*	General 	*/
form{
	.FormHeading{
		margin:0;
		@include roundTopCorners(3px);
		padding:10px 19px;	
	}

	fieldset > div.field{
		padding: 19px;
		margin:0;
		&.checkbox{
			margin-left:19px;
		}
	}

	.typography &{
		h1,h2,h3{
			margin:0;
			&.FormHeading{
				@include gradient-vertical(darken(#ffffff,2%),#fff);
				border-bottom:1px solid $hrBorder;
				border-top:1px solid darken(#f5f5f5,10%);
			}
		}
	}
}

.field{
	margin: 15px 0;
}
fieldset{
	margin: 0;
}


/*	Label formatting	*/
label{
	&.left{
		font-weight: bold;
		font-size:1.2em;
		line-height:1.2em;
		padding-bottom:5px;
	}
	&.extra{
		color: lighten($textColor, 12%);

		font-weight: normal;
		width:100%;
		max-width:490px;
		text-align:left;
		font-style:italic;	
		font-size:1em;
		line-height:1.5em;
	}
	&.required{
		@include box-sizing(border-box);
		@extend .message.error;
		clear:both;
		float:none;
		width:100%;
		max-width:490px;
		.textarea &{
			width:100%;
			max-width: 100%;
		}
	}
}

/**
* Form fields formatting
**/
textarea{
	width:100%;
	height:200px;
	@include box-sizing(border-box);
}
select, input.text, input.file{
	width:100%;
	max-width:490px;
	@include box-sizing(border-box);
	height:30px;
	float:left;
	@include clearAfter;
	&.date{
		width:100px;
		max-width:100%;
		#IE7 &{
			width:100px;
		}
	}
	#IE7 &{
		height:20px;
		width:490px;
		line-height:20px;
	}
}
/*	Checkboxes and radio buttons	*/
.checkbox{
	label{
		color: $grayDark;
		font-weight: normal;
		font-style:normal;
		position:static;
		&.required{
			color: $errorText;
			float:left;
			margin-top:10px;
			margin-left:-20px;
		}
	}
}
div.optionset{
	position: relative;
}

form ul{
	&.optionset{
		label{
			font-weight: normal;
			@include clearfix;
			#IE7 &{
				float:left;
				width:200px;
				//margin-top:-20px;
			}
		}
		list-style: none;
		margin-left: 0;
		input{
			clear:both;
			float: left;
			margin-right: 5px;

		}
	}
}


/*	Date styles	*/
div.date{
	padding-right:30px;
	label{
		float:left;
		margin-right:10px;
	}
	input{
		margin-top:-5px;
		margin-right:5px;
	}
	img{
		background:transparent url(../../../themes/express/images/icons/sitetree_images/date.png) no-repeat top left;
   		height:0;
   		overflow:hidden;
   		padding-top: 15px; /* height of icon for screen */
   		width: 15px; /* width of icon for screen */
		
	}
}
.ui-datepicker{	
	width:15em !important;
	max-width:50% !important;
}
.ui-widget{
	font-size:12px !important;
	line-height:12px !important;
}



/*Submit button styling */
.Actions{
	margin:0;
	border-top:1px solid darken(#f5f5f5,10%);
	@include gradient-vertical(#fff,darken(#ffffff,2%));
	padding: 15px 19px;
	padding: 15px 19px;
	@include roundBottomCorners(3px);
	.action{
	 	@extend .btn;
	 	@extend .btn-primary;
	 	padding-left:15px;
	 	padding-right:15px;
	 	margin:0;
	}
}
