//	Mixin for adjustments to mobile formatting
//	Import this file then use '@include media;' to include where you want it
// 	Generally this should be included within an @media declaration
// 	eg:
//  	@media (max-width: 480px) { 
//			@include media;
//	  		zoom:1;
//		}
//	
//  Note: This is currently included in the '_mixins.scss' file, within the 
//  'mediaSizes' mixin


@mixin mediaSizes{

  /* ============================= */
  /* ! Layout for mobile version   */
  /* ============================= */

  /* Landscape phones and down */
  @media (max-width: 480px) { 
    @include media;
      zoom:1;
  }

  /* Opera mobile high-res  */
  @media handheld, only screen and (max-device-width: 800px){
    @include media;
    zoom:1;
  }
   
  /* Landscape phone to portrait tablet  */
  @media (max-width: 600px) { 
    @include media;
    zoom:1;
  }
   
  /* Portrait tablet to landscape and desktop  */
  @media (min-width: 500px) and (max-width: 600px) { 
    @include media;
      zoom:1;
  }
  /* For ipad  */
  @media only screen and (-webkit-min-device-pixel-ratio: 2) { 
    @include media;
      zoom:1;
  }

  /* Large mobile */ 
  @media (max-width: 979px){
    @include media;
      zoom:1;
  }

}

@mixin media{
	body {
		padding:0;
		#SearchGroup{
			float:none;
			width:100%;
		}
	}
	header, .container{
		padding-left:20px;
		padding-right:20px;
	}

	.navbar-fixed-top, .navbar-fixed-bottom{
		margin-left:0;
		margin-right:0;
	}

	#SearchGroup{
		float:right;
		width:200px;
		.navbar-search .search-query{
			line-height:1.3em;
		}
		form{
			.field{
				margin:0;
			}
			padding:5px !important;
			fieldset{
				margin:0;
			}

			input.action{
				display:none;
			}
		}
	}	

	.nav-collapse{
		font-size:1.1em;
		line-height:1.1em;

		li {
			.dropdown-menu{
				display:none;
			}
			.caret{
				margin-left:10px;
				border-width: 5px !important;
				border-width-top:0;		
			}
		}

		li.open{
			background-color:rgba(#000,0.2);
			li{
				padding-bottom:5px;
				a{
					padding-left:30px;
				}	
			}
			.caret{
				border-top:0;
				border-bottom: 4px solid black;
				border-right: 4px solid transparent;
				border-left:4px solid transparent; 
			}
			.dropdown-menu{
				display:block;
			}
		}
	}

	.hero-unit.nested{
		.span4{
			width:100%;
		}
		.row{
			margin:0;
		}
	}

	.carousel-container{
		width:100%;
		margin:0;
		padding:0;
	}

	.Actions{
		.action{
			width:100%;
		}
	}

}