//	Mixin for sitemap formatting
//	Import this file then use '@include sitemap;' to include in your layout scss file
// 	Include within a more specific tag if you find typography styles overriding these
// 	eg:
//  	#layout{
//			@include sitemap;
//		}	
//

@mixin sitemap{

	/**********		Sitemap 	**************/
	ul.sitemap{
		@extend .well;
		background:#fff;
		list-style:none;
		margin-left:0;
		padding:0;



		#IE9 & .open .collapse{
			height:auto;
			.page-toggle{
				display:none;
			}
		}
		li{
			#IE7 & {
				.page-toggle{
					display:none;
				}
				.collapse{
					height:auto;			
				}
			}
			background:#fafafa;
			@include gradient-vertical(rgba(darken(#ffffff,5%),0.6),rgba(#fff,0.6));
			border-style: solid;
			border-width: 1px;
			border-top-color:#fff;//non rgba browsers
			border-top-color:rgba(#fff,0.5);
			border-bottom-color:$grayLighter;//non rgba browsers
			border-bottom-color:rgba($gray,0.1);
			#IE7 &{
				border-bottom:1px solid $grayLighter;
			}
			border-left:none;
			border-right:none;
			z-index:0;
			position:relative;
			line-height:35px;
			&.initial{
				&.first{
					border-top:none;
					> a.sitemap-link{
						@include roundTopCorners(5px);
					}
				}
				&.last{
					> a.sitemap-link{
						@include roundBottomCorners(5px);
					}
				}
			}		
			a.sitemap-link{
				img{
					border:none;
				}
				@include box-sizing(border-box);
				padding-left:30px;
				z-index:1;
				display:block;
				width:100%;
				height:100%;
				.sitetree-icon{
					margin:0 5px 0 15px;
				}
				&:hover{
					color:#000;
					text-decoration:none;
					background-color:lighten($grayLight,25%);
					background-color:rgba($gray,0.2);
				}
			}
			ul{
				margin:0;
				list-style:none;
				height:auto;	
				border:none;
				li{	

					border-top-color:rgba(#fff,0.8);
					border-bottom-color:lighten($grayLight,20%);//non rgba browsers
					border-bottom-color:rgba(lighten($grayLight,5%),0.1);			
				 	text-indent:15px;
				 	background-color:rgba($gray,0.3);
				 	#IE9 &{
				 		background-color:$grayLighter;
				 	}
				 	#IE7 & {
				 		overflow:hidden;
						border:none !important;
						&.first, &.last{
							border:none;
						}
						li{
							border:none;	
							&.first, &.last{
								border:none;
							}
						}
					}
					&.first{
						border-top:2px solid $grayLighter;
						border-top:2px solid rgba($grayLight,0.1);
					}
					&.last{
						border-bottom:2px solid $grayLighter;
					 	border-bottom:2px solid rgba($grayLight,0.1);
					}
					li{
					 	background:none;
						border:none;
						text-indent:25px;
						&.first,&.last{
							border:none;
						}
						
					 	li{
							text-indent:35px;
						 	li{
						 		text-indent:45px;
							 	li{
							 		text-indent:55px;
								 	li{
								 		text-indent:65px;
									 	li{
									 		text-indent:75px;
									 		li{
									 			text-indent:85px;
									 			background-color: rgba($gray,0.2);
									 			#IE9 &{
									 				background:none;
									 				&.first,&.last{
									 					border:none;
									 				}
									 			}
									 			&.first{
													border-top:$gray;
													border-top:2px solid rgba($grayLight,0.5);
												}
												&.last{
												 	border-bottom:2px solid rgba($grayLight,0.5);
												}
												.in{
									 				li{
									 					border:none;
									 				}
									 			}	
												li{	
													#IE9 &{
														padding-left:10px;					
													}	
													background: none;
													border:none;
													&.last,&.first{
														border:none;
													}
												}
									 		}
					 					}
									}
								}
							}
						}
					}				
				}
			}
		}
		.page-toggle{
			text-indent:0;
			left:0px;
			top:0px;
			z-index: 5;
			position:absolute;
			display:inline-block;
			width:40px;
			height:36px;
			.button {
				margin-left:10px;
				display:block;
				&:hover{
					cursor:pointer;
					.toggleIco{
						opacity:0.7;
						#IE8 &{
							color: $textColor;
						}
					}
				}
				.toggleIco{
					text-decoration:none;
					color:#000;
					margin-top:2px;
					@extend .icon-plus;	
					opacity:0.3;
					height:20px;
					width:20px;
					#IE8 &{
						color: lighten($textColor,30%);
					}
				}
				&.open{
					.toggleIco{						
						@extend .icon-minus;
					}
				}
			}
		}
	}
}


